<style>

    li.odd {
        padding: 10px;
        cursor: pointer;
        margin: 1px;
        font-size: 28px;
        background-color: rgb(238, 238, 238);
    }

    li.even {
        padding: 10px;
        cursor: pointer;
        margin: 1px;
        font-size: 28px;
        border-top: 1px dotted rgb(204, 204, 204);
        border-bottom: 1px dotted rgb(204, 204, 204);
    }

</style>

<script>

    if (document.getElementById("location")) {

        document.getElementById("location").innerHTML = "";

    }

</script>

<table width="100%" cellspacing="0">

  <tr>

    <th colspan="2" style="background-color: #23538a; color: #fff; padding: 5px;">
      Specify Current Location
    </th>

  </tr>

  <tr>

    <td>

      <div id="frame1" style="height: 400px; width: 100%; overflow: auto; border-top: 1px solid #23538a; margin: auto;">

        <table width="90%" style="margin: auto; margin-top: 5px; " cellspacing="0" cellpadding="10">

          <tr>

            <th style="border-bottom: 2px solid #333; color: #333; ">
              Ward
            </th>

          </tr>

          <tr>
            <td style="border-bottom: 1px dotted #ccc; ">

              <div id="department" style="width: 100%; height: 330px; overflow: auto;">

                <ul id="ulwards" style="list-style: none; padding-left: 0px; ">

                  <% (@wards || []).each do |ward| %>

                      <li class=<%= cycle('odd', 'even') %> ward='<%= ward %>' onmousedown="selectWard(this)"><%= ward %></li>

                  <% end %>

                </ul>

              </div>

            </td>

          </tr>

        </table>

      </div>

    </td>

  </tr>

</table>

<%= form_tag("/enter_location", :method => :post) do -%>
    <%= hidden_field_tag(:location_name, nil) %>
<% end %>

<script>

    var locations = {};

    var liDeptSelect, liDevSelect, selectedDev, selectedDept;

    var selectedWard;

    function selectWard(selected) {
        if (selectedWard) {
            selectedWard.style.backgroundColor = (selectedWard.getAttribute("class") == "odd" ? "#eee" : "");
        }

        selectedWard = selected;
        selected.style.backgroundColor = "lightblue";
    }

    function changeLabels() {

        if (document.getElementById("btnNext")) {

            document.getElementById("btnNext").innerHTML = "Finish";

            document.getElementById("btnNext").onclick = function () {

                if (selectedWard) {

                    showSpinner();

                    __$('location_name').value = selectedWard.getAttribute('ward');

                    document.forms[0].submit();

                } else {

                    showMsg("Please select a ward before proceeding");

                }

            }

        } else {

            setTimeout(function(){changeLabels()}, 100);

            return;

        }

        if (document.getElementById("btnLogout")) {

            document.getElementById("btnLogout").innerHTML = "Logout";

        } else {

            setTimeout(function(){changeLabels()}, 100);

            return;

        }

    }

    setTimeout(function(){changeLabels()}, 200);

</script>