<%#= render 'location_check' %>
<script>
    <!--

    var selectedControls = {};
    var selectedResult = {};

    function __$(id) {
        return document.getElementById(id);
    }

    //-->
</script>

<%= form_tag("/save_result", :method => :post) do -%>

    <input type="hidden" name="barcode" style="width: 96%; padding: 10px;" value="<%= @barcode %>"/>

    <input type="hidden" name="testname" style="width: 96%; padding: 10px;" value="<%= @test_name %>"/>

    <input type="hidden" name="testcode" style="width: 96%; padding: 10px;" value="<%= @test_code %>"/>

    <input type="hidden" id="state" name="state" style="width: 96%; padding: 10px;" value="<%= params[:state].titleize rescue "Tested" %>"/>

    <input type="hidden" name="location" style="width: 96%; padding: 10px;" value="<%= params[:location] %>"/>

    <table width="100%">
    <tr>
    <td style="vertical-align: top; border-right: 1px solid #333;">

      <%

         age = nil

         dob = @patient[:date_of_birth].to_date rescue nil

         if !dob.blank?

           days = (Date.today - dob).to_i

           if days < 30 # days

             age = "#{days} days"

           elsif days >= 30 and days <= 90 # weeks

             age = "#{days / 7} weeks"

           elsif days > 90 and days <= 720 # months

             age = "#{days / 30} months"

           else # years

             age = "#{days / 365}"

           end

         end

      %>

      <table>
        <tr>
          <td style="color: #23538a; font-size: 18px; font-weight: bold;" align="right">
            N<span style="font-size: 14px;">AME</span>
          </td>
          <td style="color: #23538a;">
            :
          </td>
          <td colspan="4">
            <%= @patient[:full_name] rescue nil %>
          </td>
        </tr>
        <tr>
          <td style="color: #23538a; font-size: 18px; font-weight: bold;" align="right">
            N<span style="font-size: 14px;">ATIONAL ID</span>
          </td>
          <td style="color: #23538a;">
            :
          </td>
          <td colspan="4">
            <%= @patient[:national_id] rescue nil %>
          </td>
        </tr>
        <tr>
          <td style="color: #23538a; font-size: 18px; font-weight: bold;" align="right">
            G<span style="font-size: 14px;">ENDER</span>
          </td>
          <td style="color: #23538a;">
            :
          </td>
          <td>
            <%= @patient[:sex] rescue nil %>
          </td>
          <td style="color: #23538a; font-size: 18px; font-weight: bold;" align="right">
            A<span style="font-size: 14px;">GE</span>
          </td>
          <td style="color: #23538a;">
            :
          </td>
          <td>
            <%= age %> <i>(<%= @patient[:date_of_birth] rescue nil %>)</i>
          </td>
        </tr>
        <tr>
          <td style="color: #23538a; font-size: 18px; font-weight: bold;" align="right">
            A<span style="font-size: 14px;">DDRESS</span>
          </td>
          <td style="color: #23538a;">
            :
          </td>
          <td colspan="4">
            <%= @patient[:current_residence] rescue nil %><%= !@patient[:current_village].blank? ? ", " : "" %>
            <%= @patient[:current_village] rescue nil %><%= !@patient[:current_ta].blank? ? ", " : "" %>
            <%= @patient[:current_ta] rescue nil %><%= !@patient[:current_district].blank? ? ", " : "" %>
            <%= @patient[:current_district] rescue nil %>
          </td>
        </tr>
      </table>

    </td>
    <td style="vertical-align: top;">

    <div style="height: 340px; overflow: auto; width: 100%;">
    <table style="margin: auto; margin-top: 10px; width: 100%;" cellpadding="5">
    <tr>
      <th colspan="3" align="left" style="font-size: 18px; border-bottom: 2px solid #333;" colspan="3">
        <%= @test_name rescue nil %>
      </th>
    </tr>

    <% if @list.keys.length == 1 %>

        <tr>
          <td colspan="3" style="padding-left: 20px;">
            <div style="border-top: 1px dotted #eee; border-bottom: 1px dotted #eee; height: 500px; overflow-x: hidden; overflow-y: auto; padding-left: 20px;">
              <table width="100%" cellpadding="10px">

                <script>
                    <!--

                    var selections = {};

                    //-->
                </script>

                <% @list.each do |key, values| %>

                    <% id, name, code, result, remark = key.split("|") %>

                    <script>
                        <!--

                        selections["<%= id %>"] = {};

                        //-->
                    </script>

                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <th colspan="2" align="left" style="border-bottom: 1px solid #333;">
                        <%= name %> Result
                      </th>
                    </tr>

                    <% if values.length > 1 %>

                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td align="right">
                            Units:
                          </td>
                          <td>
                            <select style="width: 100%; padding: 10px;" onchange="if(__$('test_result_<%= code.strip.gsub(/\-/, "_") %>')){
                                    __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').setAttribute('units', this.value);
                                    var num = __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').value.trim().match(/^\d+/);
                                    if(num != null){
                                            __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').value = num[0] + ' ' + this.value;
                                            }
                                    __$('test_units_<%= code.strip.gsub(/\-/, "_") %>').value = this.value;
                                    }; __$('lbl' + this.getAttribute('tag')).innerHTML = selections[this.getAttribute('tag')][this.value];" tag="<%= id %>">

                              <% values.each do |value| %>

                                  <script>
                                      <!--

                                      selections["<%= id %>"]["<%= value["unit"] %>"] = "<%= value["name"] %>";

                                      //-->
                                  </script>

                                  <option value="<%= value["unit"] rescue nil %>"><%= value["name"] %></option>

                              <% end %>

                            </select>
                          </td>
                        </tr>

                    <% end %>

                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td id="lbl<%= id %>" align="right" style="vertical-align: top; padding-top: 20px;">
                        <%= values[0]["name"] rescue "Result" %>:
                      </td>
                      <td>

                        <% if (values[0]["type"] rescue "freetext").downcase.strip == "list" %>

                            <table style="list-style: none; padding-left: 0px; border: 1px solid #ccc; width: 100%; margin: 0px; height: 200px; overflow: auto;">

                              <% i = 0 %>

                              <% values[0]["options"].each do |measure| %>

                                  <% if !result.blank? and measure.strip == (result.strip rescue "") %>

                                      <tr>
                                        <td id="<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>"
                                            style="border: 1px dotted #ccc; padding: 10px; cursor: pointer; margin: 2px; font-size: 18px;
                                                    background-color: lightblue" cat="<%= i % 2 > 0 ? 'odd' : 'even' %>"
                                            tag="<%= name %>" target="test_result_<%= code.strip.gsub(/\-/, "_") %>"><%= measure %></td>
                                      </tr>

                                      <script>
                                          <!--

                                          selectedControls["<%= name %>"] = __$("<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>");

                                          //-->
                                      </script>

                                  <% else %>

                                      <tr>
                                        <td id="<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>"
                                            style="border: 1px dotted #ccc; padding: 10px; cursor: pointer; margin: 2px; font-size: 18px;
                                                    background-color: <%= i % 2 > 0 ? '#eee' : '' %>" cat="<%= i % 2 > 0 ? 'odd' : 'even' %>"
                                            tag="<%= name %>" target="test_result_<%= code.strip.gsub(/\-/, "_") %>"><%= measure %></td>
                                      </tr>

                                  <% end %>

                                  <% i += 1 %>

                                  <script>

                                      document.getElementById("<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>").onclick = function () {
                                          if (selectedControls[this.getAttribute('tag')]) {
                                              selectedControls[this.getAttribute('tag')].style.backgroundColor = (selectedControls[this.getAttribute('tag')].getAttribute('cat') == 'odd' ? '#eee' : '');
                                          }
                                          ;
                                          this.style.backgroundColor = 'lightblue';
                                          selectedControls[this.getAttribute('tag')] = this;

                                          if (__$(this.getAttribute("target"))) {

                                              __$(this.getAttribute("target")).value = this.innerHTML.trim();

                                              selectedResult[this.getAttribute('tag')] = this.innerHTML.trim();

                                          }

                                      }

                                  </script>

                              <% end %>

                            </table>

                            <input type="hidden" id="test_result_<%= code.strip.gsub(/\-/, "_") %>"
                                   name="test_result[<%= code %>]" style="width: 96%; padding: 10px;"
                                   field_type="<%= values[0]["type"] rescue "freetext" %>" value="<%= result rescue nil %>"/>

                        <% else %>

                            <input type="text" name="test_result[<%= code %>]" style="width: 96%; padding: 10px;"
                                   id="test_result_<%= code.strip.gsub(/\-/, "_") %>"
                                   field_type="<%= values[0]["type"] rescue "freetext" %>" value="<%= result rescue nil %>"
                                   units="<%= values[0]["unit"] rescue nil %>"
                                   onclick="captureFreetext(this, true, <%= ((values[0]["type"] rescue "freetext") == "numeric" ? true : false) %>)"/>

                        <% end %>

                        <input type="hidden" name="test_name[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= name %>"/>
                        <input type="hidden" name="test_code[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= code %>"/>
                        <input type="hidden" name="test_barcode[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= @barcode %>"/>
                        <input type="hidden" id="test_units_<%= code.strip.gsub(/\-/, "_") %>" name="test_units[<%= code %>]" style="width: 96%; padding: 10px;" value=""/>
                        <input type="hidden" id="test_range_<%= code.strip.gsub(/\-/, "_") %>" name="test_range[<%= code %>]" style="width: 96%; padding: 10px;" value=""/>
                        <input type="hidden" id="testtime_<%= code.strip.gsub(/\-/, "_") %>" name="testtime" value='<%= Time.now().strftime("%Y-%b-%d %H:%M:%S") %>'/>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td align="right" style="vertical-align: top; padding-top: 20px;">
                        Remarks:
                      </td>
                      <td>
                        <textarea style="width: 96%; height: 100px; padding: 10px;" id="remark_<%= code.strip.gsub(/\-/, "_") %>" name="test_remark[<%= code %>]"
                                  onclick="captureFreetext(this)"><%= remark rescue nil %></textarea>
                      </td>
                    </tr>
                    <!--
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td align="right" style="vertical-align: top; padding-top: 20px;">
                        Date:
                      </td>
                      <td>
                        <input type="text" id="testtime_<%#= code.strip.gsub(/\-/, "_") %>" name="testtime" style="width: 96%; padding: 10px;" onmousedown="enterDate(this)" value='<%#= Time.now().strftime("%Y-%b-%d %H:%M")%>'/>
                      </td>
                    </tr> //-->
                <% end %>

              </table>

            </div>
          </td>
        </tr>

    <% else %>

        <tr>
          <th colspan="3" align="left" style="padding-left: 20px;">
            Results
            <input type="hidden" name="ispanel" style="width: 96%; padding: 10px;" value=true/>
          </th>
        </tr>

        <tr>
          <td colspan="3" style="padding-left: 20px;">
            <div style="border-top: 1px dotted #eee; border-bottom: 1px dotted #eee; height: 255px; overflow-x: hidden; overflow-y: auto; padding-left: 20px; border: 1px solid;">

              <table width="100%" cellpadding="10px">

                <script>
                    <!--

                    var selections = {};

                    //-->
                </script>

                <% @list.each do |key, values| %>

                    <% id, name, code, result, remark = key.split("|") %>

                    <script>
                        <!--

                        selections["<%= id %>"] = {};

                        //-->
                    </script>

                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <th colspan="2" align="left" style="border-bottom: 1px solid #333;">
                        <%= name %> Result
                      </th>
                    </tr>

                    <% if values.length > 1 %>

                        <tr>
                          <td>
                            &nbsp;
                          </td>
                          <td align="right">
                            Units:
                          </td>
                          <td>
                            <select style="width: 100%; padding: 10px;" onchange="if(__$('test_result_<%= code.strip.gsub(/\-/, "_") %>')){
                                    __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').setAttribute('units', this.value);
                                    var num = __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').value.trim().match(/^\d+/);
                                    if(num != null){
                                            __$('test_result_<%= code.strip.gsub(/\-/, "_") %>').value = num[0] + ' ' + this.value;
                                            }
                                    __$('test_units_<%= code.strip.gsub(/\-/, "_") %>').value = this.value;
                                    }; __$('lbl' + this.getAttribute('tag')).innerHTML = selections[this.getAttribute('tag')][this.value];" tag="<%= id %>">

                              <% values.each do |value| %>

                                  <script>
                                      <!--

                                      selections["<%= id %>"]["<%= value["unit"] %>"] = "<%= value["name"] %>";

                                      //-->
                                  </script>

                                  <option value="<%= value["unit"] rescue nil %>"><%= value["name"] %></option>

                              <% end %>

                            </select>
                          </td>
                        </tr>

                    <% end %>

                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td id="lbl<%= id %>" align="right" style="vertical-align: top; padding-top: 20px;">
                        <%= values[0]["name"] rescue "Result" %>:
                      </td>
                      <td>

                        <% if (values[0]["type"] rescue "freetext").downcase.strip == "list" %>

                            <table style="list-style: none; padding-left: 0px; border: 1px solid #ccc; width: 100%; margin: 0px; height: 200px; overflow: auto;">

                              <% i = 0 %>

                              <% values[0]["options"].each do |measure| %>

                                  <% if !result.blank? and measure.strip == (result.strip rescue "") %>

                                      <tr>
                                        <td id="<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>"
                                            style="border: 1px dotted #ccc; padding: 10px; cursor: pointer; margin: 2px; font-size: 18px;
                                                    background-color: lightblue" cat="<%= i % 2 > 0 ? 'odd' : 'even' %>"
                                            tag="<%= name %>" target="test_result_<%= code.strip.gsub(/\-/, "_") %>"><%= measure %></td>
                                      </tr>

                                  <% else %>

                                      <tr>
                                        <td id="<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>"
                                            style="border: 1px dotted #ccc; padding: 10px; cursor: pointer; margin: 2px; font-size: 18px;
                                                    background-color: <%= i % 2 > 0 ? '#eee' : '' %>" cat="<%= i % 2 > 0 ? 'odd' : 'even' %>"
                                            tag="<%= name %>" target="test_result_<%= code.strip.gsub(/\-/, "_") %>"><%= measure %></td>
                                      </tr>

                                  <% end %>

                                  <% i += 1 %>

                                  <script>

                                      document.getElementById("<%= "#{name.strip.gsub(/\s/, "_").downcase}_#{measure.strip.gsub(/\s/, "_").downcase}" %>").onclick = function () {
                                          if (selectedControls[this.getAttribute('tag')]) {
                                              selectedControls[this.getAttribute('tag')].style.backgroundColor = (selectedControls[this.getAttribute('tag')].getAttribute('cat') == 'odd' ? '#eee' : '');
                                          }
                                          ;
                                          this.style.backgroundColor = 'lightblue';
                                          selectedControls[this.getAttribute('tag')] = this;

                                          if (__$(this.getAttribute("target"))) {

                                              __$(this.getAttribute("target")).value = this.innerHTML.trim();

                                              selectedResult[this.getAttribute('tag')] = this.innerHTML.trim();

                                          }

                                      }

                                  </script>

                              <% end %>

                            </table>

                            <input type="hidden" id="test_result_<%= code.strip.gsub(/\-/, "_") %>"
                                   name="test_result[<%= code %>]" style="width: 96%; padding: 10px;"
                                   field_type="<%= values[0]["type"] rescue "freetext" %>" value="<%= result rescue nil %>"/>

                        <% else %>

                            <input type="text" name="test_result[<%= code %>]" style="width: 96%; padding: 10px;"
                                   id="test_result_<%= code.strip.gsub(/\-/, "_") %>"
                                   field_type="<%= values[0]["type"] rescue "freetext" %>" value="<%= result rescue nil %>"
                                   units="<%= values[0]["unit"] rescue nil %>"
                                   onclick="captureFreetext(this, true, <%= ((values[0]["type"] rescue "freetext") == "numeric" ? true : false) %>)"/>

                        <% end %>

                        <input type="hidden" name="test_name[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= name %>"/>
                        <input type="hidden" name="test_code[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= code %>"/>
                        <input type="hidden" name="test_barcode[<%= code %>]" style="width: 96%; padding: 10px;" value="<%= @barcode %>"/>
                        <input type="hidden" id="test_units_<%= code.strip.gsub(/\-/, "_") %>" name="test_units[<%= code %>]" style="width: 96%; padding: 10px;" value=""/>
                        <input type="hidden" id="test_range_<%= code.strip.gsub(/\-/, "_") %>" name="test_range[<%= code %>]" style="width: 96%; padding: 10px;" value=""/>
                        <input type="hidden" id="testtime_<%= code.strip.gsub(/\-/, "_") %>" name="testtime" value='<%= Time.now().strftime("%Y-%b-%d %H:%M:%S") %>'/>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td align="right" style="vertical-align: top; padding-top: 20px;">
                        Remarks:
                      </td>
                      <td>
                        <textarea style="width: 96%; height: 100px; padding: 10px;" id="remark_<%= code.strip.gsub(/\-/, "_") %>" name="test_remark[<%= code %>]"
                                  onclick="captureFreetext(this)"><%= remark rescue nil %></textarea>
                      </td>
                    </tr>
                    <!--
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                      <td align="right" style="vertical-align: top; padding-top: 20px;">
                        Date:
                      </td>
                      <td>
                        <input type="text" id="testtime_<%= code.strip.gsub(/\-/, "_") %>" name="testtime" style="width: 96%; padding: 10px;" onmousedown="enterDate(this)" value='<%= Time.now().strftime("%Y-%b-%d %H:%M") %>'/>
                      </td>
                    </tr>
                    //-->
                <% end %>

              </table>

            </div>

          </td>
        </tr>

    <% end %>

    </table>
    </div>
    </td>
    </tr>
    </table>

<% end %>

<script>

    function changeLabels() {

        if (document.getElementById("btnNext")) {

            document.getElementById("btnNext").innerHTML = "<%= (!params[:state].blank? and params[:state].strip.upcase == "VERIFIED" ? "Verify Result" : "Save Result") %>";

            <% if @user_details['canverify'].to_s != 'true'%>

            if (document.getElementById("btnNext").innerHTML.match(/Verify/))

                document.getElementById("btnNext").className = "button_gray";

            <% end %>

            document.getElementById("btnNext").onclick = function () {

                if (!this.className.match(/gray/)) {

                    showSpinner();

                    document.forms[0].submit();
                }

            }

        } else {

            setTimeout(function(){changeLabels();}, 100);

            return;

        }

        if (document.getElementById("btnLogout")) {

            document.getElementById("btnLogout").innerHTML = "Cancel";

            document.getElementById("btnLogout").onclick = function () {

                showSpinner();

                window.location = "/lab_processing/index";

            }

        } else {

            setTimeout(function(){changeLabels()}, 100);

            return;

        }

        <% if !params[:state].blank? and params[:state].strip.upcase == "VERIFIED" %>

        if (__$("nav")) {

            var btnCorrect = document.createElement("button");
            btnCorrect.id = "btnCorrect";
            btnCorrect.innerHTML = "Save Correction";
            btnCorrect.className = "button_blue";
            btnCorrect.style.cssFloat = "right";
            btnCorrect.style.marginRight = "10px";

            btnCorrect.onclick = function () {

                showSpinner();

                if (__$("state")) {

                    __$("state").value = "Tested";

                }

                document.forms[0].submit();

            }

            __$("nav").appendChild(btnCorrect);

        }

        <% end %>

    }

    setTimeout(function(){changeLabels()}, 100);

</script>
